.portal {
  margin-top: 3rem;
  margin-right: 1rem;
  margin-bottom: 2rem;
  border-radius: 0px;
  .portal-content {
    height: 50vh;
    overflow-y: scroll;
    border-radius: 0px;
  }
  ::-webkit-scrollbar, ::-webkit-scrollbar-button {
    display: none;
  }
}