const apiKeys = {
  firebaseConfig: {
    apiKey: '',
    authDomain: '',
    databaseURL: '',
    projectId: '',
    storageBucket: '',
    messagingSenderId: '',
  },
    githubApi: {
    apiUrl: 'https://api.github.com',
    client_id: '',
    client_secret: '',
  },
};

export default apiKeys;